docs/automations/n8n/attendance-slack-tracker(production).json
{
  "name": "GoWater Attendance Tracker (Production)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gowater-attendance",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e29f48d3-f3f6-4aef-b6d9-0aa6283cabfe",
      "name": "Webhook Receiver",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        11296,
        5984
      ],
      "webhookId": "gowater-attendance"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// HMAC-SHA256 Signature Verification + Deduplication\n// ============================================================\n// 1. Dedup: Skip if we already processed this delivery ID\n//    (prevents duplicate Slack messages from webhook retries)\n// 2. HMAC: Verify the request came from GoWater\n// ============================================================\n\nconst crypto = require('crypto');\n\nconst headers = $input.first().json.headers;\nconst deliveryId = headers['x-webhook-delivery-id'] || '';\n\n// --- Deduplication via static variable ---\nif (!globalThis._processedDeliveries) {\n  globalThis._processedDeliveries = new Set();\n}\nif (deliveryId && globalThis._processedDeliveries.has(deliveryId)) {\n  // Already processed this delivery — stop execution\n  return [];\n}\nif (deliveryId) {\n  globalThis._processedDeliveries.add(deliveryId);\n  // Keep set small: remove entries older than 5 min (based on set size)\n  if (globalThis._processedDeliveries.size > 500) {\n    const arr = Array.from(globalThis._processedDeliveries);\n    globalThis._processedDeliveries = new Set(arr.slice(-200));\n  }\n}\n\nconst SHARED_SECRET = $vars.SHARED_SECRET;\n\nconst signature = headers['x-webhook-signature'] || '';\nconst body = JSON.stringify($input.first().json.body);\n\nif (!SHARED_SECRET) {\n  // No secret configured — skip verification (dev mode)\n  return [{ json: { ...($input.first().json.body), _verified: false } }];\n}\n\nconst expected = 'sha256=' + crypto\n  .createHmac('sha256', SHARED_SECRET)\n  .update(body)\n  .digest('hex');\n\nif (signature !== expected) {\n  throw new Error('Invalid webhook signature — request rejected');\n}\n\nreturn [{ json: { ...($input.first().json.body), _verified: true } }];\n"
      },
      "id": "5a47ed2d-2155-4f96-8aa3-12c1138e60db",
      "name": "Verify HMAC Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11520,
        5984
      ],
      "notes": "Verifies HMAC-SHA256 signature from GoWater. Skips verification in dev mode (no secret configured). Throws error on invalid signature to halt the pipeline."
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {}
      },
      "id": "20eeb068-83d0-4c65-85ac-4cf02ba15a57",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        11520,
        5760
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "attendance.checked_in",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5a1c15ff-8dd5-4f59-8243-cb7e96f24871"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "checked_in"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "attendance.checked_out",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d1cd9e19-14c7-4a0b-b661-f12421ba6787"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "checked_out"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "attendance.break_started",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7b84486c-5e37-4121-a515-ba3e29e5c75f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "break_started"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "attendance.break_ended",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "20cb4dd5-790d-4cef-8295-8fb1b3c85c67"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "break_ended"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "2215fe0a-5198-48a3-8906-29492349083d",
      "name": "Route by Event",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        11968,
        5984
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Format PHT Time\n// ============================================================\n// Converts timestamp to Philippines time (UTC+8) for display.\n// ============================================================\n\nconst item = $input.first().json;\nconst ts = new Date(item.timestamp);\n\nconst phtMs = ts.getTime() + (8 * 60 * 60 * 1000);\nconst pht = new Date(phtMs);\nconst hours = pht.getUTCHours();\nconst minutes = pht.getUTCMinutes();\n\nconst timeStr = `${String(hours % 12 || 12).padStart(2, '0')}:${String(minutes).padStart(2, '0')} ${hours >= 12 ? 'PM' : 'AM'}`;\n\nreturn [{\n  json: {\n    ...item,\n    _phtTime: timeStr\n  }\n}];\n"
      },
      "id": "8943025c-0324-40ba-9b13-4c3c735f2e9a",
      "name": "Format PHT Time",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12192,
        5760
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Format Check-In Message (Slack mrkdwn)\n// ============================================================\n\nconst item = $input.first().json;\nconst d = item.data;\nconst tasks = d.tasks || [];\n\nlet msg = `*Check In*\\n━━━━━━━━━━━━━━━━\\n\\n`;\nmsg += `*Employee:* ${d.employeeName} (${d.employeeId})\\n`;\nmsg += `*Date:* ${d.date}\\n`;\nmsg += `*Location:* ${d.workLocation}\\n`;\nmsg += `*Time:* ${item._phtTime}\\n`;\nif (d.notes) {\n  msg += `*Notes:* ${d.notes}\\n`;\n}\n\nmsg += `\\n*Planned Tasks:*\\n`;\nif (tasks.length === 0) {\n  msg += `_No tasks assigned_`;\n} else {\n  tasks.forEach((t, i) => {\n    const statusLabel = (t.status || 'pending').replace(/_/g, ' ').replace(/\\b\\w/g, c => c.toUpperCase());\n    msg += `${i + 1}. ${t.title} [${statusLabel}]\\n`;\n    const subs = t.subTasks || [];\n    subs.forEach(s => {\n      const subStatus = s.status ? (s.status === 'completed' ? 'Done' : s.status.replace(/_/g, ' ').replace(/\\b\\w/g, c => c.toUpperCase())) : (s.completed ? 'Done' : 'Pending');\n      msg += `    - ${s.title} [${subStatus}]\\n`;\n    });\n  });\n}\n\nif (d.photoUrl) {\n  msg += `\\n<${d.photoUrl}|Check-in Photo>`;\n}\n\nreturn [{ json: { ...item, _message: msg } }];\n"
      },
      "id": "59614d3c-a338-447f-b53d-13d7ce4a902c",
      "name": "Format Check-In Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12624,
        5840
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AF7FFEDKM",
          "mode": "list",
          "cachedResultName": "attendance"
        },
        "text": "={{ $json._message }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "380e9a0e-309a-49ac-97ce-de97427e5137",
      "name": "Slack: Check In",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        12848,
        5840
      ],
      "webhookId": "2a555223-b296-4c94-af95-900d6f7f5048",
      "credentials": {
        "slackOAuth2Api": {
          "id": "OC5FQmA1EbyUGmKH",
          "name": "Gowater Slack Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Build Thread TS Request Body\n// ============================================================\n// Constructs the request body for saving the Slack thread TS.\n// Tries multiple paths for the Slack ts since n8n Slack node\n// versions return it under different field names.\n// ============================================================\n\nconst checkInData = $('Format Check-In Message').first().json;\nconst slackResponse = $('Slack: Check In').first().json;\n\nconst userId = checkInData.data.userId;\nconst date = checkInData.data.date;\n\n// n8n Slack node may return ts under different keys depending on version\nconst slackThreadTs = slackResponse.ts\n  || slackResponse.messageId\n  || (slackResponse.message && slackResponse.message.ts)\n  || '';\n\nif (!userId || !date || !slackThreadTs) {\n  // Log all available keys for debugging\n  const keys = Object.keys(slackResponse);\n  throw new Error(`Missing data: userId=${userId}, date=${date}, ts=${slackThreadTs}, slackKeys=[${keys.join(',')}]`);\n}\n\nreturn [{\n  json: {\n    userId,\n    date,\n    slackThreadTs\n  }\n}];\n"
      },
      "id": "49612047-e106-455e-8a66-c9496f71e68c",
      "name": "Build Thread Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13072,
        5840
      ],
      "notes": "Builds the request body from check-in data and Slack response for saving the thread TS"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.GOWATER_API_URL }}/api/attendance/slack-thread",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $vars.GOWATER_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ userId: $json.userId, date: $json.date, slackThreadTs: $json.slackThreadTs }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "f7715746-3b94-4576-9b09-2fe72d9fa14a",
      "name": "Save Thread TS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        13296,
        5840
      ],
      "notes": "Saves Slack message ts to attendance record so break/checkout can thread under check-in"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Check-Out: Calculate overtime & format hours\n// ============================================================\n// Philippine labor: regular = 8 hrs, OT = anything above 8.\n// ============================================================\n\nconst item = $input.first().json;\nconst totalHours = Number(item.data.totalHours) || 0;\nconst breakSec = Number(item.data.breakDuration) || 0;\nconst breakMins = Math.floor(breakSec / 60);\n\nconst REGULAR_HOURS = 8;\nconst netHours = totalHours;\nconst overtime = Math.max(0, netHours - REGULAR_HOURS);\nconst regularHrs = Math.min(netHours, REGULAR_HOURS);\nconst isUndertime = netHours < REGULAR_HOURS;\nconst undertimeHrs = isUndertime ? (REGULAR_HOURS - netHours) : 0;\n\n// Format check-out time to PHT\nconst ts = new Date(item.data.checkOutTime || item.timestamp);\nconst phtMs = ts.getTime() + (8 * 60 * 60 * 1000);\nconst pht = new Date(phtMs);\nconst hours = pht.getUTCHours();\nconst minutes = pht.getUTCMinutes();\nconst timeStr = `${String(hours % 12 || 12).padStart(2, '0')}:${String(minutes).padStart(2, '0')} ${hours >= 12 ? 'PM' : 'AM'}`;\n\nreturn [{\n  json: {\n    ...item,\n    _phtTime: timeStr,\n    _regularHrs: regularHrs.toFixed(2),\n    _overtimeHrs: overtime.toFixed(2),\n    _netHours: netHours.toFixed(2),\n    _isUndertime: isUndertime,\n    _undertimeHrs: undertimeHrs.toFixed(2),\n    _hasOvertime: overtime > 0,\n    _breakMins: breakMins\n  }\n}];\n"
      },
      "id": "e9e2b830-31c5-4436-9402-a3d6a0b4bb70",
      "name": "Calculate Hours & OT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12192,
        5984
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Format Check-Out Message (Slack mrkdwn)\n// ============================================================\n\nconst item = $input.first().json;\nconst d = item.data;\nconst tasks = d.tasks || [];\n\nlet msg = `*Check Out*\\n━━━━━━━━━━━━━━━━\\n\\n`;\nmsg += `*Employee:* ${d.employeeName} (${d.employeeId})\\n`;\nmsg += `*Date:* ${d.date}\\n`;\nmsg += `*Check Out:* ${item._phtTime}\\n`;\nmsg += `*Net Hours:* ${item._netHours}h | Regular: ${item._regularHrs}h`;\nif (item._hasOvertime) {\n  msg += ` | OT: ${item._overtimeHrs}h`;\n}\nmsg += `\\n`;\nif (item._isUndertime) {\n  msg += `*Undertime:* ${item._undertimeHrs}h\\n`;\n}\nmsg += `*Break:* ${item._breakMins} min\\n`;\n\nmsg += `\\n*Task Updates:*\\n`;\nif (tasks.length === 0) {\n  msg += `_No tasks assigned_`;\n} else {\n  tasks.forEach((t, i) => {\n    const statusLabel = (t.status || 'pending').replace(/_/g, ' ').replace(/\\b\\w/g, c => c.toUpperCase());\n    msg += `${i + 1}. ${t.title} [${statusLabel}]\\n`;\n    const subs = t.subTasks || [];\n    subs.forEach(s => {\n      const subStatus = s.status ? (s.status === 'completed' ? 'Done' : s.status.replace(/_/g, ' ').replace(/\\b\\w/g, c => c.toUpperCase())) : (s.completed ? 'Done' : 'Pending');\n      msg += `    - ${s.title} [${subStatus}]\\n`;\n    });\n  });\n}\n\nif (d.photoUrl) {\n  msg += `\\n<${d.photoUrl}|Check-out Photo>`;\n}\n\nreturn [{ json: { ...item, _message: msg } }];\n"
      },
      "id": "046c7202-448f-4e5a-a1e5-35d9b762c6de",
      "name": "Format Check-Out Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12416,
        5984
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(Object.assign({ channel: 'C0AF7FFEDKM', text: $json._message }, $json.data.slackThreadTs ? { thread_ts: $json.data.slackThreadTs } : {})) }}",
        "options": {}
      },
      "id": "70c2651c-41fd-47b5-bdff-69ce120cfb85",
      "name": "Slack: Check Out",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        12624,
        5984
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "OC5FQmA1EbyUGmKH",
          "name": "Gowater Slack Bot"
        }
      },
      "notes": "Posts checkout message to Slack with thread_ts for threading under check-in"
    },
    {
      "parameters": {
        "jsCode": "// Format Break Start message and build Slack API payload\nconst item = $input.first().json;\nconst d = item.data;\n\n// Format time to PHT (UTC+8)\nconst ts = new Date(d.breakStartTime || item.timestamp);\nconst phtMs = ts.getTime() + (8 * 60 * 60 * 1000);\nconst pht = new Date(phtMs);\nconst hours = pht.getUTCHours();\nconst minutes = pht.getUTCMinutes();\nconst timeStr = `${String(hours % 12 || 12).padStart(2, '0')}:${String(minutes).padStart(2, '0')} ${hours >= 12 ? 'PM' : 'AM'}`;\n\nlet text = `*Break Started*\\n\\n`;\ntext += `*Employee:* ${d.employeeName} (${d.employeeId})\\n`;\ntext += `*Date:* ${d.date}\\n`;\ntext += `*Break Start:* ${timeStr} PHT`;\n\nconst body = { channel: 'C0AF7FFEDKM', text };\nif (d.slackThreadTs) {\n  body.thread_ts = d.slackThreadTs;\n}\n\nreturn [{ json: { ...item, _slackBody: body } }];\n"
      },
      "id": "5f2e8b60-7818-4fa0-ba3d-79f21273ae33",
      "name": "Format Break Start",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12192,
        6160
      ],
      "notes": "Formats break start message and builds Slack API payload with thread_ts"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._slackBody) }}",
        "options": {}
      },
      "id": "ba1113df-post-break-start",
      "name": "Post Break Start",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        12416,
        6160
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "OC5FQmA1EbyUGmKH",
          "name": "Gowater Slack Bot"
        }
      },
      "notes": "Posts break start to Slack with thread_ts for threading"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Break Compliance: Over-Break Detection\n// ============================================================\n// Flags breaks longer than 2 hours for manager review.\n// ============================================================\n\nconst item = $input.first().json;\nconst breakSec = Number(item.data.breakDurationSeconds) || 0;\nconst breakMin = Math.floor(breakSec / 60);\nconst totalBreakMin = Math.floor((Number(item.data.totalBreakDuration) || 0) / 60);\n\nconst LONG_BREAK_THRESHOLD = 120;  // minutes\n\nlet complianceFlag = 'ok';\nlet complianceMsg = '';\n\nif (breakMin > LONG_BREAK_THRESHOLD) {\n  complianceFlag = 'long_break';\n  complianceMsg = `Extended break of ${breakMin} min — needs manager review`;\n}\n\nreturn [{\n  json: {\n    ...item,\n    _breakMin: breakMin,\n    _totalBreakMin: totalBreakMin,\n    _complianceFlag: complianceFlag,\n    _complianceMsg: complianceMsg\n  }\n}];\n"
      },
      "id": "2b630255-e31f-48f2-97e1-3874ab785a24",
      "name": "Check Break Compliance",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12192,
        6336
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json._complianceFlag }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c15fdc6d-c633-4592-904c-1cda4412a0d8",
      "name": "Compliance Issue?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        12416,
        6336
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AFMMNKXSL",
          "mode": "list",
          "cachedResultName": "attendance"
        },
        "text": "=*Break Compliance Alert*\n\n*Employee:* {{ $json.data.employeeName }} ({{ $json.data.employeeId }})\n*Date:* {{ $json.data.date }}\n*Break Duration:* {{ $json._breakMin }} min\n*Issue:* {{ $json._complianceMsg }}\n*Total Break Today:* {{ $json._totalBreakMin }} min",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "21e94598-8b84-4448-92bd-1f6845c36269",
      "name": "Slack: Compliance Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        12624,
        6288
      ],
      "webhookId": "dd12d5be-cb46-48de-9c8e-20ead00469de",
      "credentials": {
        "slackOAuth2Api": {
          "id": "OC5FQmA1EbyUGmKH",
          "name": "Gowater Slack Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format Break End message and build Slack API payload\nconst item = $input.first().json;\nconst d = item.data;\n\nlet text = `*Break Ended*\\n\\n`;\ntext += `*Employee:* ${d.employeeName} (${d.employeeId})\\n`;\ntext += `*Date:* ${d.date}\\n`;\ntext += `*Break Duration:* ${item._breakMin} min\\n`;\ntext += `*Total Break Today:* ${item._totalBreakMin} min`;\nif (item._complianceFlag !== 'ok') {\n  text += `\\n${item._complianceMsg}`;\n}\n\nconst body = { channel: 'C0AF7FFEDKM', text };\nif (d.slackThreadTs) {\n  body.thread_ts = d.slackThreadTs;\n}\n\nreturn [{ json: { ...item, _slackBody: body } }];\n"
      },
      "id": "a863be8e-5111-4c8c-ab8a-bc999f36ab3a",
      "name": "Format Break End",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12640,
        6448
      ],
      "notes": "Formats break end message and builds Slack API payload with thread_ts"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._slackBody) }}",
        "options": {}
      },
      "id": "e2f69bf3-post-break-end",
      "name": "Post Break End",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        12864,
        6448
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "OC5FQmA1EbyUGmKH",
          "name": "Gowater Slack Bot"
        }
      },
      "notes": "Posts break end to Slack with thread_ts for threading"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "REPLACE_WITH_YOUR_GOOGLE_SHEET_URL"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Attendance Log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $json.data.date }}",
            "employee_id": "={{ $json.data.employeeId }}",
            "employee_name": "={{ $json.data.employeeName }}",
            "event": "={{ $json.event }}",
            "time": "={{ $json.timestamp }}",
            "location": "={{ $json.data.workLocation || '' }}",
            "total_hours": "={{ $json.data.totalHours || '' }}",
            "break_minutes": "={{ $json._breakMin || $json._totalBreakMin || '' }}",
            "overtime_hours": "={{ $json._overtimeHrs || '' }}",
            "flags": "={{ $json._complianceFlag && $json._complianceFlag !== 'ok' ? 'OVERBREAK' : '' }}{{ $json._isUndertime ? ' UNDERTIME(' + $json._undertimeHrs + 'h)' : '' }}"
          }
        },
        "options": {}
      },
      "id": "e7708b4c-fdc3-4536-b1df-c99952391e9e",
      "name": "Google Sheets: Audit Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        11968,
        6208
      ],
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "id": "822798b8-3de6-4122-a2fa-1fb8b8086aff",
      "name": "Daily 6 PM PHT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        11296,
        6624
      ]
    },
    {
      "parameters": {
        "url": "={{ $vars.GOWATER_API_URL }}/api/attendance/daily-summary",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $vars.GOWATER_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "5026f60e-cb08-4d18-aaa6-cdcf74e35294",
      "name": "Fetch Daily Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        11520,
        6624
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Daily Summary Report Builder\n// ============================================================\n// Aggregates the day's attendance data into a formatted Slack\n// message with key metrics, flags, and employee status.\n// Outputs TWO items:\n//   [0] = full daily report for #attendance\n//   [1] = absent employee list for #absent\n// ============================================================\n\nconst data = $input.first().json;\nconst employees = data.employees || [];\nconst date = data.date || new Date().toISOString().split('T')[0];\n\nconst total = employees.length;\nconst checkedIn = employees.filter(e => e.checked_in).length;\nconst checkedOut = employees.filter(e => e.checked_out).length;\nconst stillWorking = employees.filter(e => e.checked_in && !e.checked_out).length;\nconst onBreak = employees.filter(e => e.on_break).length;\nconst absent = employees.filter(e => !e.checked_in).length;\nconst lateArrivals = employees.filter(e => e.is_late);\nconst overtimeWorkers = employees.filter(e => Number(e.overtime_hours) > 0);\nconst undertimeWorkers = employees.filter(e => e.checked_out && Number(e.net_hours) < 8);\nconst breakViolations = employees.filter(e => e.break_violation);\n\nlet report = `*Daily Attendance Report — ${date}*\\n`;\nreport += `━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n\\n`;\n\nreport += `*Team Status*\\n`;\nreport += `Total: ${total} | Checked In: ${checkedIn} | Checked Out: ${checkedOut}\\n`;\nreport += `Still Working: ${stillWorking} | On Break: ${onBreak} | Absent: ${absent}\\n\\n`;\n\nif (lateArrivals.length > 0) {\n  report += `*Late Arrivals (${lateArrivals.length})*\\n`;\n  lateArrivals.forEach(e => {\n    report += `  - ${e.name}: ${e.minutes_late} min late\\n`;\n  });\n  report += `\\n`;\n}\n\nif (overtimeWorkers.length > 0) {\n  report += `*Overtime (${overtimeWorkers.length})*\\n`;\n  overtimeWorkers.forEach(e => {\n    report += `  - ${e.name}: +${Number(e.overtime_hours).toFixed(1)}h OT\\n`;\n  });\n  report += `\\n`;\n}\n\nif (undertimeWorkers.length > 0) {\n  report += `*Undertime (${undertimeWorkers.length})*\\n`;\n  undertimeWorkers.forEach(e => {\n    report += `  - ${e.name}: ${Number(e.net_hours).toFixed(1)}h (${(8 - Number(e.net_hours)).toFixed(1)}h short)\\n`;\n  });\n  report += `\\n`;\n}\n\nif (breakViolations.length > 0) {\n  report += `*Break Compliance Issues (${breakViolations.length})*\\n`;\n  breakViolations.forEach(e => {\n    report += `  - ${e.name}: ${e.break_issue}\\n`;\n  });\n  report += `\\n`;\n}\n\nif (absent > 0) {\n  const absentList = employees.filter(e => !e.checked_in);\n  report += `*Absent (${absent})*\\n`;\n  absentList.forEach(e => {\n    report += `  - ${e.name}${e.on_leave ? ' (on leave)' : ''}\\n`;\n  });\n}\n\n// Build absent list for #absent channel\nconst absentEmployees = employees.filter(e => !e.checked_in);\nlet absentReport = `*Absent Employees — ${date}*\\n`;\nabsentReport += `━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n\\n`;\nif (absentEmployees.length === 0) {\n  absentReport += `All employees checked in today.`;\n} else {\n  absentReport += `*${absentEmployees.length} employee(s) did not check in:*\\n\\n`;\n  absentEmployees.forEach((e, i) => {\n    absentReport += `${i + 1}. ${e.name}${e.on_leave ? ' (on leave)' : ''}\\n`;\n  });\n}\n\nreturn [\n  { json: { report, date, _outputType: 'daily_report' } },\n  { json: { report: absentReport, date, _outputType: 'absent_list' } }\n];\n"
      },
      "id": "0a568a2d-9971-41bc-a8e1-1fcfc81a9403",
      "name": "Build Daily Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11744,
        6624
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._outputType }}",
                    "rightValue": "daily_report",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "daily_report"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._outputType }}",
                    "rightValue": "absent_list",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "absent_list"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "0905c8e1-4bd1-4e27-a052-d01e80da2404",
      "name": "Route Daily Output",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        11968,
        6624
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AF7FFEDKM",
          "mode": "list",
          "cachedResultName": "attendance"
        },
        "text": "={{ $json.report }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "c9e86994-9a76-418e-9062-3b021da2333c",
      "name": "Slack: Daily Summary",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        12192,
        6528
      ],
      "webhookId": "aec52e5a-6593-4dd4-b5e4-5158060ced2a",
      "credentials": {
        "slackOAuth2Api": {
          "id": "OC5FQmA1EbyUGmKH",
          "name": "Gowater Slack Bot"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "REPLACE_WITH_ABSENT_CHANNEL_ID",
          "mode": "list",
          "cachedResultName": "absent"
        },
        "text": "={{ $json.report }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "69564399-508f-4a1a-809a-df014b68cfaa",
      "name": "Slack: Absent List",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        12192,
        6720
      ],
      "webhookId": "9b183893-d618-4e33-bd5f-60a3a13783c9",
      "credentials": {
        "slackOAuth2Api": {
          "id": "OC5FQmA1EbyUGmKH",
          "name": "Gowater Slack Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "REPLACE_WITH_YOUR_GOOGLE_SHEET_URL"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Daily Summaries"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $json.date }}",
            "report": "={{ $json.report }}"
          }
        },
        "options": {}
      },
      "id": "81f8e994-6a6e-40f0-94a4-f581dbf2a9dd",
      "name": "Google Sheets: Daily Summary",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        12192,
        6912
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.event }}",
              "rightValue": "attendance.",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "53fce4c2-a444-46b7-8fb8-f25bc8e92b77",
      "name": "Valid Attendance Event?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        11744,
        5984
      ],
      "notes": "Rejects non-attendance events early to prevent unexpected data in the pipeline"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "56dfe5f1-bda7-4fd9-8be6-1a3a063002bf",
      "name": "Daily 8 AM PHT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        11296,
        6848
      ],
      "notes": "Fires at 00:00 UTC = 8:00 AM PHT to post daily divider"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Format Daily Divider Date\n// ============================================================\n// Generates a date string in PHT (UTC+8) for the daily divider.\n// Uses manual UTC+8 offset (toLocaleString is unreliable on Vercel/n8n).\n// ============================================================\n\nconst now = new Date();\nconst phtMs = now.getTime() + (8 * 60 * 60 * 1000);\nconst pht = new Date(phtMs);\n\nconst days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];\nconst months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];\n\nconst dayName = days[pht.getUTCDay()];\nconst month = months[pht.getUTCMonth()];\nconst date = pht.getUTCDate();\nconst year = pht.getUTCFullYear();\n\nconst dividerText = `${month} ${date}, ${year} (${dayName})`;\n\nreturn [{ json: { dividerText } }];\n"
      },
      "id": "e9b5fa08-5162-4c86-b004-94cd66a97f2d",
      "name": "Format Divider Date",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11520,
        6848
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AFMMNKXSL",
          "mode": "list",
          "cachedResultName": "attendance"
        },
        "text": "=══════ {{ $json.dividerText }} ══════",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "9c3aee92-51bd-4e69-960e-9a2d92d76b38",
      "name": "Slack: Daily Divider",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        11744,
        6848
      ],
      "webhookId": "2b911faa-ee5c-4cee-a6a7-c4357f5bf5e1",
      "credentials": {
        "slackOAuth2Api": {
          "id": "OC5FQmA1EbyUGmKH",
          "name": "Gowater Slack Bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Receiver": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          },
          {
            "node": "Verify HMAC Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify HMAC Signature": {
      "main": [
        [
          {
            "node": "Valid Attendance Event?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid Attendance Event?": {
      "main": [
        [
          {
            "node": "Route by Event",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets: Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Event": {
      "main": [
        [
          {
            "node": "Format PHT Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Calculate Hours & OT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Break Start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Break Compliance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format PHT Time": {
      "main": [
        [
          {
            "node": "Format Check-In Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Check-In Message": {
      "main": [
        [
          {
            "node": "Slack: Check In",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack: Check In": {
      "main": [
        [
          {
            "node": "Build Thread Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Thread Body": {
      "main": [
        [
          {
            "node": "Save Thread TS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Hours & OT": {
      "main": [
        [
          {
            "node": "Format Check-Out Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Check-Out Message": {
      "main": [
        [
          {
            "node": "Slack: Check Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Break Compliance": {
      "main": [
        [
          {
            "node": "Compliance Issue?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format Break End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compliance Issue?": {
      "main": [
        [
          {
            "node": "Slack: Compliance Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Break Start": {
      "main": [
        [
          {
            "node": "Post Break Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Break End": {
      "main": [
        [
          {
            "node": "Post Break End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily 6 PM PHT": {
      "main": [
        [
          {
            "node": "Fetch Daily Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Daily Summary": {
      "main": [
        [
          {
            "node": "Build Daily Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Daily Report": {
      "main": [
        [
          {
            "node": "Route Daily Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily 8 AM PHT": {
      "main": [
        [
          {
            "node": "Format Divider Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Divider Date": {
      "main": [
        [
          {
            "node": "Slack: Daily Divider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Daily Output": {
      "main": [
        [
          {
            "node": "Slack: Daily Summary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets: Daily Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack: Absent List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0ad0ab1e-5dc5-4bc4-8c8e-a48f991ee182",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6fb87aa61d7b2b62fa4cc6d7122005aee62aa14cfcc0caa3ed46f1e4c0a04bb8"
  },
  "id": "n0ghUProJYJdRkxa",
  "tags": [
    {
      "updatedAt": "2026-02-12T14:47:26.913Z",
      "createdAt": "2026-02-12T14:47:26.913Z",
      "id": "4wX1c6WFd24Rv1Im",
      "name": "Attendance"
    },
    {
      "updatedAt": "2026-02-12T15:15:24.186Z",
      "createdAt": "2026-02-12T15:15:24.186Z",
      "id": "9dgCZjKiLrLOXmGh",
      "name": "Compliance"
    },
    {
      "updatedAt": "2026-02-12T14:47:26.875Z",
      "createdAt": "2026-02-12T14:47:26.875Z",
      "id": "BDEdQGx3Ixlkm2Ch",
      "name": "Slack"
    },
    {
      "updatedAt": "2026-02-12T14:47:26.847Z",
      "createdAt": "2026-02-12T14:47:26.847Z",
      "id": "dpUX59FX4QHLkuTt",
      "name": "GoWater"
    },
    {
      "updatedAt": "2026-02-12T15:15:24.213Z",
      "createdAt": "2026-02-12T15:15:24.213Z",
      "id": "qfGPk5OVTLUrYvzl",
      "name": "Production"
    }
  ]
}