docs/automations/n8n/attendance-slack-tracker(production).json
{
  "name": "GoWater Attendance Tracker (Production)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gowater-attendance",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "fc3f3cea-42f2-4644-b4c0-d19e51f8bf15",
      "name": "Webhook Receiver",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -288,
        576
      ],
      "webhookId": "gowater-attendance"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// HMAC-SHA256 Signature Verification\n// ============================================================\n// Ensures the webhook request actually came from GoWater\n// and wasn't spoofed by a third party.\n//\n// GoWater sends: X-Webhook-Signature: sha256=<hex>\n// We recompute the HMAC using our shared secret and compare.\n// ============================================================\n\nconst crypto = require('crypto');\n\nconst SHARED_SECRET = 'MemorybomB!0012';\n\nconst signature = $input.first().json.headers['x-webhook-signature'] || '';\nconst body = JSON.stringify($input.first().json.body);\n\nif (!SHARED_SECRET) {\n  // No secret configured — skip verification (dev mode)\n  return [{ json: { ...($input.first().json.body), _verified: false } }];\n}\n\nconst expected = 'sha256=' + crypto\n  .createHmac('sha256', SHARED_SECRET)\n  .update(body)\n  .digest('hex');\n\nif (signature !== expected) {\n  throw new Error('Invalid webhook signature — request rejected');\n}\n\nreturn [{ json: { ...($input.first().json.body), _verified: true } }];\n"
      },
      "id": "922f1397-d95c-4b85-b0de-e4058092715d",
      "name": "Verify HMAC Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        576
      ],
      "notes": "Verifies HMAC-SHA256 signature from GoWater. Skips verification in dev mode (no secret configured). Throws error on invalid signature to halt the pipeline."
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {}
      },
      "id": "e1db473c-eedc-49d0-a4f4-d88e62930467",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -64,
        352
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "attendance.checked_in",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5a1c15ff-8dd5-4f59-8243-cb7e96f24871"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "checked_in"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "attendance.checked_out",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d1cd9e19-14c7-4a0b-b661-f12421ba6787"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "checked_out"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "attendance.break_started",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7b84486c-5e37-4121-a515-ba3e29e5c75f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "break_started"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "attendance.break_ended",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "20cb4dd5-790d-4cef-8295-8fb1b3c85c67"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "break_ended"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "6d35e31f-10cd-49fb-b2e9-d13b39fff340",
      "name": "Route by Event",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        384,
        576
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Late Check-In Detection (Philippines Labor Standards)\n// ============================================================\n// Standard shift starts at 9:00 AM PHT (UTC+8).\n// If check-in is after 9:00 AM, flag as late and calculate\n// how many minutes late.\n// ============================================================\n\nconst item = $input.first().json;\nconst ts = new Date(item.timestamp);\n\n// Convert to PHT (UTC+8) using manual offset\n// (toLocaleTimeString is unreliable on server runtimes)\nconst phtMs = ts.getTime() + (8 * 60 * 60 * 1000);\nconst pht = new Date(phtMs);\nconst hours = pht.getUTCHours();\nconst minutes = pht.getUTCMinutes();\n\n// 9:00 AM threshold\nconst SHIFT_START_HOUR = 9;\nconst SHIFT_START_MIN = 0;\n\nconst isLate = (hours > SHIFT_START_HOUR) ||\n  (hours === SHIFT_START_HOUR && minutes > SHIFT_START_MIN);\n\nlet minutesLate = 0;\nif (isLate) {\n  minutesLate = ((hours - SHIFT_START_HOUR) * 60) + (minutes - SHIFT_START_MIN);\n}\n\nconst timeStr = `${String(hours % 12 || 12).padStart(2, '0')}:${String(minutes).padStart(2, '0')} ${hours >= 12 ? 'PM' : 'AM'}`;\n\nreturn [{\n  json: {\n    ...item,\n    _phtTime: timeStr,\n    _isLate: isLate,\n    _minutesLate: minutesLate\n  }\n}];\n"
      },
      "id": "01bed0fd-9118-47b9-8aa0-e96503b74463",
      "name": "Check Late Arrival",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        352
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $('Format Check-In Blocks').item.json._isLate }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "684fbaa2-88bd-4cb6-9236-71ee3625ded7",
      "name": "Is Late?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1488,
        288
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AFMMNKXSL",
          "mode": "list",
          "cachedResultName": "attendance"
        },
        "text": "=*Late Check-In*\n\n*Employee:* {{ $('Format Check-In Blocks').item.json.data.employeeName }} ({{ $('Format Check-In Blocks').item.json.data.employeeId }})\n*Date:* {{ $('Format Check-In Blocks').item.json.data.date }}\n*Checked in at:* {{ $('Format Check-In Blocks').item.json._phtTime }} — *{{ $('Format Check-In Blocks').item.json._minutesLate }} min late*\n*Location:* {{ $('Format Check-In Blocks').item.json.data.workLocation }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "threadTs": "={{ $('Slack: Check In').item.json.ts }}"
        }
      },
      "id": "ca379728-ecdf-43a2-be54-cdfe4f703d37",
      "name": "Slack: Late Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1712,
        288
      ],
      "webhookId": "d063e5a8-ef0b-44c0-9a31-1647e5cda6fe",
      "credentials": {
        "slackOAuth2Api": {
          "id": "OC5FQmA1EbyUGmKH",
          "name": "Gowater Slack Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Format Check-In Blocks (Slack Block Kit)\n// ============================================================\n// Builds a Block Kit JSON payload for the check-in message.\n// Includes: header, employee details, task list, and photo.\n// ============================================================\n\nconst item = $input.first().json;\nconst d = item.data;\nconst tasks = d.tasks || [];\n\n// Build task list text\nlet taskText = '*Planned Tasks:*\\n';\nif (tasks.length === 0) {\n  taskText += '_No tasks assigned_';\n} else {\n  tasks.forEach((t, i) => {\n    const statusLabel = (t.status || 'pending').replace(/_/g, ' ').replace(/\\b\\w/g, c => c.toUpperCase());\n    taskText += `${i + 1}. ${t.title} [${statusLabel}]\\n`;\n    const subs = t.subTasks || [];\n    subs.forEach(s => {\n      const subStatus = s.completed ? 'Done' : 'Pending';\n      taskText += `    - ${s.title} [${subStatus}]\\n`;\n    });\n  });\n}\n\n// Build info text\nlet infoText = `*Employee:* ${d.employeeName} (${d.employeeId})\\n`;\ninfoText += `*Date:* ${d.date}\\n`;\ninfoText += `*Location:* ${d.workLocation}\\n`;\ninfoText += `*Time:* ${item._phtTime}`;\nif (item._isLate) {\n  infoText += ` (${item._minutesLate} min late)`;\n}\nif (d.notes) {\n  infoText += `\\n*Notes:* ${d.notes}`;\n}\n\n// Build blocks array\nconst blocks = [\n  { type: 'header', text: { type: 'plain_text', text: 'Check In', emoji: false } },\n  { type: 'section', text: { type: 'mrkdwn', text: infoText } },\n  { type: 'section', text: { type: 'mrkdwn', text: taskText } }\n];\n\nif (d.photoUrl) {\n  blocks.push({ type: 'image', image_url: d.photoUrl, alt_text: 'Check-in photo' });\n}\n\nreturn [{ json: { ...item, _blocks: JSON.stringify(blocks) } }];\n"
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-format-checkin",
      "name": "Format Check-In Blocks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        432
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AFMMNKXSL",
          "mode": "list",
          "cachedResultName": "attendance"
        },
        "text": "=Check In — {{ $json.data.employeeName }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "blocksUi": "={{ $json._blocks }}"
        }
      },
      "id": "fdaea06e-7f25-43b8-a39f-f1ea2fc169d9",
      "name": "Slack: Check In",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1264,
        432
      ],
      "webhookId": "2a555223-b296-4c94-af95-900d6f7f5048",
      "credentials": {
        "slackOAuth2Api": {
          "id": "OC5FQmA1EbyUGmKH",
          "name": "Gowater Slack Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GOWATER_API_URL }}/api/attendance/slack-thread",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.GOWATER_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "userId",
              "value": "={{ $('Format Check-In Blocks').item.json.data.userId }}"
            },
            {
              "name": "date",
              "value": "={{ $('Format Check-In Blocks').item.json.data.date }}"
            },
            {
              "name": "slackThreadTs",
              "value": "={{ $json.ts }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "b5e6f7a8-9012-4def-abcd-save-thread-ts",
      "name": "Save Thread TS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1488,
        432
      ],
      "notes": "Saves Slack message ts to attendance record so break/checkout can thread under check-in"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Check-Out: Calculate overtime & format hours\n// ============================================================\n// Philippine labor: regular = 8 hrs, OT = anything above 8.\n// ============================================================\n\nconst item = $input.first().json;\nconst totalHours = Number(item.data.totalHours) || 0;\nconst breakSec = Number(item.data.breakDuration) || 0;\nconst breakMins = Math.floor(breakSec / 60);\n\nconst REGULAR_HOURS = 8;\nconst netHours = totalHours;\nconst overtime = Math.max(0, netHours - REGULAR_HOURS);\nconst regularHrs = Math.min(netHours, REGULAR_HOURS);\nconst isUndertime = netHours < REGULAR_HOURS;\nconst undertimeHrs = isUndertime ? (REGULAR_HOURS - netHours) : 0;\n\n// Format check-out time to PHT\nconst ts = new Date(item.data.checkOutTime || item.timestamp);\nconst phtMs = ts.getTime() + (8 * 60 * 60 * 1000);\nconst pht = new Date(phtMs);\nconst hours = pht.getUTCHours();\nconst minutes = pht.getUTCMinutes();\nconst timeStr = `${String(hours % 12 || 12).padStart(2, '0')}:${String(minutes).padStart(2, '0')} ${hours >= 12 ? 'PM' : 'AM'}`;\n\nreturn [{\n  json: {\n    ...item,\n    _phtTime: timeStr,\n    _regularHrs: regularHrs.toFixed(2),\n    _overtimeHrs: overtime.toFixed(2),\n    _netHours: netHours.toFixed(2),\n    _isUndertime: isUndertime,\n    _undertimeHrs: undertimeHrs.toFixed(2),\n    _hasOvertime: overtime > 0,\n    _breakMins: breakMins\n  }\n}];\n"
      },
      "id": "331e4de4-4de7-4c7c-ab5e-c2e5d71ba746",
      "name": "Calculate Hours & OT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        576
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Format Check-Out Blocks (Slack Block Kit)\n// ============================================================\n// Builds a Block Kit JSON payload for the check-out message.\n// Includes: header, hours summary, task updates, and photo.\n// ============================================================\n\nconst item = $input.first().json;\nconst d = item.data;\nconst tasks = d.tasks || [];\n\n// Build task list text\nlet taskText = '*Task Updates:*\\n';\nif (tasks.length === 0) {\n  taskText += '_No tasks assigned_';\n} else {\n  tasks.forEach((t, i) => {\n    const statusLabel = (t.status || 'pending').replace(/_/g, ' ').replace(/\\b\\w/g, c => c.toUpperCase());\n    taskText += `${i + 1}. ${t.title} [${statusLabel}]\\n`;\n    const subs = t.subTasks || [];\n    subs.forEach(s => {\n      const subStatus = s.completed ? 'Done' : 'Pending';\n      taskText += `    - ${s.title} [${subStatus}]\\n`;\n    });\n  });\n}\n\n// Build info text\nlet infoText = `*Employee:* ${d.employeeName} (${d.employeeId})\\n`;\ninfoText += `*Date:* ${d.date}\\n`;\ninfoText += `*Check Out:* ${item._phtTime}\\n`;\ninfoText += `*Net Hours:* ${item._netHours}h | Regular: ${item._regularHrs}h`;\nif (item._hasOvertime) {\n  infoText += ` | OT: ${item._overtimeHrs}h`;\n}\nif (item._isUndertime) {\n  infoText += `\\n*Undertime:* ${item._undertimeHrs}h`;\n}\ninfoText += `\\n*Break:* ${item._breakMins} min`;\n\n// Build blocks array\nconst blocks = [\n  { type: 'header', text: { type: 'plain_text', text: 'Check Out', emoji: false } },\n  { type: 'section', text: { type: 'mrkdwn', text: infoText } },\n  { type: 'section', text: { type: 'mrkdwn', text: taskText } }\n];\n\nif (d.photoUrl) {\n  blocks.push({ type: 'image', image_url: d.photoUrl, alt_text: 'Check-out photo' });\n}\n\nreturn [{ json: { ...item, _blocks: JSON.stringify(blocks) } }];\n"
      },
      "id": "a1b2c3d4-2222-4bbb-cccc-format-checkout",
      "name": "Format Check-Out Blocks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        576
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AFMMNKXSL",
          "mode": "list",
          "cachedResultName": "attendance"
        },
        "text": "=Check Out — {{ $json.data.employeeName }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "blocksUi": "={{ $json._blocks }}",
          "threadTs": "={{ $json.data.slackThreadTs || '' }}"
        }
      },
      "id": "bd954601-28c4-4a8f-9bad-8e6a01433cb3",
      "name": "Slack: Check Out",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1040,
        576
      ],
      "webhookId": "8038a38a-47db-4463-938b-46fd80337736",
      "credentials": {
        "slackOAuth2Api": {
          "id": "OC5FQmA1EbyUGmKH",
          "name": "Gowater Slack Bot"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AFMMNKXSL",
          "mode": "list",
          "cachedResultName": "attendance"
        },
        "text": "=*Break Started*\n\n*Employee:* {{ $json.data.employeeName }} ({{ $json.data.employeeId }})\n*Date:* {{ $json.data.date }}\n*Break Start:* {{ new Date(new Date($json.data.breakStartTime || $json.timestamp).getTime() + (8*60*60*1000)).toISOString().substring(11,16) }} PHT",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "threadTs": "={{ $json.data.slackThreadTs || '' }}"
        }
      },
      "id": "56f8f4c6-5583-45a5-9180-7413f82e68e1",
      "name": "Slack: Break Start",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        608,
        752
      ],
      "webhookId": "ba1113df-31c2-455b-aa3e-36a67be33677",
      "credentials": {
        "slackOAuth2Api": {
          "id": "OC5FQmA1EbyUGmKH",
          "name": "Gowater Slack Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Break Compliance: Philippine DOLE Labor Standards\n// ============================================================\n// DOLE Rule: Employees working 6+ hours are entitled to a\n// 60-minute meal break (not counted as work time).\n// Breaks shorter than 20 minutes are counted as work time.\n//\n// This node checks:\n// 1. Break too short (< 30 min) — may violate DOLE standards\n// 2. Break too long  (> 120 min) — needs manager review\n// ============================================================\n\nconst item = $input.first().json;\nconst breakSec = Number(item.data.breakDurationSeconds) || 0;\nconst breakMin = Math.floor(breakSec / 60);\nconst totalBreakMin = Math.floor((Number(item.data.totalBreakDuration) || 0) / 60);\n\nconst SHORT_BREAK_THRESHOLD = 30;  // minutes\nconst LONG_BREAK_THRESHOLD = 120;  // minutes\n\nlet complianceFlag = 'ok';\nlet complianceMsg = '';\n\nif (breakMin < SHORT_BREAK_THRESHOLD) {\n  complianceFlag = 'short_break';\n  complianceMsg = `Break was only ${breakMin} min — possible DOLE compliance issue (minimum 60 min for 6+ hr shifts)`;\n} else if (breakMin > LONG_BREAK_THRESHOLD) {\n  complianceFlag = 'long_break';\n  complianceMsg = `Extended break of ${breakMin} min — needs manager review`;\n}\n\nreturn [{\n  json: {\n    ...item,\n    _breakMin: breakMin,\n    _totalBreakMin: totalBreakMin,\n    _complianceFlag: complianceFlag,\n    _complianceMsg: complianceMsg\n  }\n}];\n"
      },
      "id": "317d5020-a4f2-433b-8ecc-2300ff11bb7d",
      "name": "Check Break Compliance",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        928
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json._complianceFlag }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4ecf2e68-056e-419b-b9b7-283232847dd7",
      "name": "Compliance Issue?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        832,
        928
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AFMMNKXSL",
          "mode": "list",
          "cachedResultName": "attendance"
        },
        "text": "=*Break Compliance Alert*\n\n*Employee:* {{ $json.data.employeeName }} ({{ $json.data.employeeId }})\n*Date:* {{ $json.data.date }}\n*Break Duration:* {{ $json._breakMin }} min\n*Issue:* {{ $json._complianceMsg }}\n*Total Break Today:* {{ $json._totalBreakMin }} min",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "threadTs": "={{ $json.data.slackThreadTs || '' }}"
        }
      },
      "id": "ff292433-b1d0-4821-a0e6-289f8e628c1a",
      "name": "Slack: Compliance Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1040,
        880
      ],
      "webhookId": "dd12d5be-cb46-48de-9c8e-20ead00469de",
      "credentials": {
        "slackOAuth2Api": {
          "id": "OC5FQmA1EbyUGmKH",
          "name": "Gowater Slack Bot"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AFMMNKXSL",
          "mode": "list",
          "cachedResultName": "attendance"
        },
        "text": "=*Break Ended*\n\n*Employee:* {{ $json.data.employeeName }} ({{ $json.data.employeeId }})\n*Date:* {{ $json.data.date }}\n*Break Duration:* {{ $json._breakMin }} min\n*Total Break Today:* {{ $json._totalBreakMin }} min{{ $json._complianceFlag !== 'ok' ? '\\n' + $json._complianceMsg : '' }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "threadTs": "={{ $json.data.slackThreadTs || '' }}"
        }
      },
      "id": "816060df-0bf8-4950-901b-e45cb9760c34",
      "name": "Slack: Break End",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1056,
        1040
      ],
      "webhookId": "e2f69bf3-ef39-4048-a6a0-675928728836",
      "credentials": {
        "slackOAuth2Api": {
          "id": "OC5FQmA1EbyUGmKH",
          "name": "Gowater Slack Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "REPLACE_WITH_YOUR_GOOGLE_SHEET_URL"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Attendance Log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $json.data.date }}",
            "employee_id": "={{ $json.data.employeeId }}",
            "employee_name": "={{ $json.data.employeeName }}",
            "event": "={{ $json.event }}",
            "time": "={{ $json.timestamp }}",
            "location": "={{ $json.data.workLocation || '' }}",
            "total_hours": "={{ $json.data.totalHours || '' }}",
            "break_minutes": "={{ $json._breakMin || $json._totalBreakMin || '' }}",
            "overtime_hours": "={{ $json._overtimeHrs || '' }}",
            "flags": "={{ $json._isLate ? 'LATE(' + $json._minutesLate + 'min)' : '' }}{{ $json._complianceFlag && $json._complianceFlag !== 'ok' ? ' BREAK_ISSUE' : '' }}{{ $json._isUndertime ? ' UNDERTIME(' + $json._undertimeHrs + 'h)' : '' }}"
          }
        },
        "options": {}
      },
      "id": "a00121be-6170-4930-acde-5533da7432eb",
      "name": "Google Sheets: Audit Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        384,
        800
      ],
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "id": "d9abfa96-80a9-4b18-958d-002919b43951",
      "name": "Daily 6 PM PHT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -288,
        1216
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.GOWATER_API_URL }}/api/attendance/daily-summary",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.GOWATER_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "39727d73-d805-4c97-8985-32d3467f7f65",
      "name": "Fetch Daily Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -64,
        1216
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Daily Summary Report Builder\n// ============================================================\n// Aggregates the day's attendance data into a formatted Slack\n// message with key metrics, flags, and employee status.\n// Outputs TWO items:\n//   [0] = full daily report for #attendance\n//   [1] = absent employee list for #absent\n// ============================================================\n\nconst data = $input.first().json;\nconst employees = data.employees || [];\nconst date = data.date || new Date().toISOString().split('T')[0];\n\nconst total = employees.length;\nconst checkedIn = employees.filter(e => e.checked_in).length;\nconst checkedOut = employees.filter(e => e.checked_out).length;\nconst stillWorking = employees.filter(e => e.checked_in && !e.checked_out).length;\nconst onBreak = employees.filter(e => e.on_break).length;\nconst absent = employees.filter(e => !e.checked_in).length;\nconst lateArrivals = employees.filter(e => e.is_late);\nconst overtimeWorkers = employees.filter(e => Number(e.overtime_hours) > 0);\nconst undertimeWorkers = employees.filter(e => e.checked_out && Number(e.net_hours) < 8);\nconst breakViolations = employees.filter(e => e.break_violation);\n\nlet report = `*Daily Attendance Report — ${date}*\\n`;\nreport += `━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n\\n`;\n\nreport += `*Team Status*\\n`;\nreport += `Total: ${total} | Checked In: ${checkedIn} | Checked Out: ${checkedOut}\\n`;\nreport += `Still Working: ${stillWorking} | On Break: ${onBreak} | Absent: ${absent}\\n\\n`;\n\nif (lateArrivals.length > 0) {\n  report += `*Late Arrivals (${lateArrivals.length})*\\n`;\n  lateArrivals.forEach(e => {\n    report += `  - ${e.name}: ${e.minutes_late} min late\\n`;\n  });\n  report += `\\n`;\n}\n\nif (overtimeWorkers.length > 0) {\n  report += `*Overtime (${overtimeWorkers.length})*\\n`;\n  overtimeWorkers.forEach(e => {\n    report += `  - ${e.name}: +${Number(e.overtime_hours).toFixed(1)}h OT\\n`;\n  });\n  report += `\\n`;\n}\n\nif (undertimeWorkers.length > 0) {\n  report += `*Undertime (${undertimeWorkers.length})*\\n`;\n  undertimeWorkers.forEach(e => {\n    report += `  - ${e.name}: ${Number(e.net_hours).toFixed(1)}h (${(8 - Number(e.net_hours)).toFixed(1)}h short)\\n`;\n  });\n  report += `\\n`;\n}\n\nif (breakViolations.length > 0) {\n  report += `*Break Compliance Issues (${breakViolations.length})*\\n`;\n  breakViolations.forEach(e => {\n    report += `  - ${e.name}: ${e.break_issue}\\n`;\n  });\n  report += `\\n`;\n}\n\nif (absent > 0) {\n  const absentList = employees.filter(e => !e.checked_in);\n  report += `*Absent (${absent})*\\n`;\n  absentList.forEach(e => {\n    report += `  - ${e.name}${e.on_leave ? ' (on leave)' : ''}\\n`;\n  });\n}\n\n// Build absent list for #absent channel\nconst absentEmployees = employees.filter(e => !e.checked_in);\nlet absentReport = `*Absent Employees — ${date}*\\n`;\nabsentReport += `━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n\\n`;\nif (absentEmployees.length === 0) {\n  absentReport += `All employees checked in today.`;\n} else {\n  absentReport += `*${absentEmployees.length} employee(s) did not check in:*\\n\\n`;\n  absentEmployees.forEach((e, i) => {\n    absentReport += `${i + 1}. ${e.name}${e.on_leave ? ' (on leave)' : ''}\\n`;\n  });\n}\n\nreturn [\n  { json: { report, date, _outputType: 'daily_report' } },\n  { json: { report: absentReport, date, _outputType: 'absent_list' } }\n];\n"
      },
      "id": "4bc9ba88-21e1-45f8-b2ac-d6c45257004a",
      "name": "Build Daily Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        1216
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._outputType }}",
                    "rightValue": "daily_report",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "daily_report"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._outputType }}",
                    "rightValue": "absent_list",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "absent_list"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "a1b2c3d4-3333-4ccc-dddd-route-daily-out",
      "name": "Route Daily Output",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        384,
        1216
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AFMMNKXSL",
          "mode": "list",
          "cachedResultName": "attendance"
        },
        "text": "={{ $json.report }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "f4961f5b-a5a3-494d-9c7b-9868f03539e0",
      "name": "Slack: Daily Summary",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        608,
        1120
      ],
      "webhookId": "aec52e5a-6593-4dd4-b5e4-5158060ced2a",
      "credentials": {
        "slackOAuth2Api": {
          "id": "OC5FQmA1EbyUGmKH",
          "name": "Gowater Slack Bot"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "REPLACE_WITH_ABSENT_CHANNEL_ID",
          "mode": "list",
          "cachedResultName": "absent"
        },
        "text": "={{ $json.report }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "a1b2c3d4-4444-4ddd-eeee-slack-absent-ls",
      "name": "Slack: Absent List",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        608,
        1312
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "OC5FQmA1EbyUGmKH",
          "name": "Gowater Slack Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "REPLACE_WITH_YOUR_GOOGLE_SHEET_URL"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Daily Summaries"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $json.date }}",
            "report": "={{ $json.report }}"
          }
        },
        "options": {}
      },
      "id": "07a57392-81c6-445f-87e6-84d66c8ebcbf",
      "name": "Google Sheets: Daily Summary",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        608,
        1500
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.event }}",
              "rightValue": "attendance.",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dd5780ef-8d98-4cc3-945d-4244a9517558",
      "name": "Valid Attendance Event?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        160,
        576
      ],
      "notes": "Rejects non-attendance events early to prevent unexpected data in the pipeline"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 0
            }
          ]
        }
      },
      "id": "a1b2c3d4-5555-4eee-ffff-daily-8am-pht",
      "name": "Daily 8 AM PHT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -288,
        1440
      ],
      "notes": "Fires at 00:00 UTC = 8:00 AM PHT to post daily divider"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Format Daily Divider Date\n// ============================================================\n// Generates a date string in PHT (UTC+8) for the daily divider.\n// Uses manual UTC+8 offset (toLocaleString is unreliable on Vercel/n8n).\n// ============================================================\n\nconst now = new Date();\nconst phtMs = now.getTime() + (8 * 60 * 60 * 1000);\nconst pht = new Date(phtMs);\n\nconst days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];\nconst months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];\n\nconst dayName = days[pht.getUTCDay()];\nconst month = months[pht.getUTCMonth()];\nconst date = pht.getUTCDate();\nconst year = pht.getUTCFullYear();\n\nconst dividerText = `${month} ${date}, ${year} (${dayName})`;\n\nreturn [{ json: { dividerText } }];\n"
      },
      "id": "a1b2c3d4-6666-4fff-aaaa-format-divider",
      "name": "Format Divider Date",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        1440
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AFMMNKXSL",
          "mode": "list",
          "cachedResultName": "attendance"
        },
        "text": "=══════ {{ $json.dividerText }} ══════",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "a1b2c3d4-7777-4bbb-cccc-slack-divider",
      "name": "Slack: Daily Divider",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        160,
        1440
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "OC5FQmA1EbyUGmKH",
          "name": "Gowater Slack Bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Receiver": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          },
          {
            "node": "Verify HMAC Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify HMAC Signature": {
      "main": [
        [
          {
            "node": "Valid Attendance Event?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid Attendance Event?": {
      "main": [
        [
          {
            "node": "Route by Event",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets: Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Event": {
      "main": [
        [
          {
            "node": "Check Late Arrival",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Calculate Hours & OT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack: Break Start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Break Compliance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Late Arrival": {
      "main": [
        [
          {
            "node": "Format Check-In Blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Check-In Blocks": {
      "main": [
        [
          {
            "node": "Slack: Check In",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack: Check In": {
      "main": [
        [
          {
            "node": "Save Thread TS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Late?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Late?": {
      "main": [
        [
          {
            "node": "Slack: Late Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Hours & OT": {
      "main": [
        [
          {
            "node": "Format Check-Out Blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Check-Out Blocks": {
      "main": [
        [
          {
            "node": "Slack: Check Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Break Compliance": {
      "main": [
        [
          {
            "node": "Compliance Issue?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack: Break End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compliance Issue?": {
      "main": [
        [
          {
            "node": "Slack: Compliance Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily 6 PM PHT": {
      "main": [
        [
          {
            "node": "Fetch Daily Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Daily Summary": {
      "main": [
        [
          {
            "node": "Build Daily Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Daily Report": {
      "main": [
        [
          {
            "node": "Route Daily Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily 8 AM PHT": {
      "main": [
        [
          {
            "node": "Format Divider Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Divider Date": {
      "main": [
        [
          {
            "node": "Slack: Daily Divider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Daily Output": {
      "main": [
        [
          {
            "node": "Slack: Daily Summary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets: Daily Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack: Absent List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "01243dfc-39da-4e0c-826e-f35a21c8daaa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6fb87aa61d7b2b62fa4cc6d7122005aee62aa14cfcc0caa3ed46f1e4c0a04bb8"
  },
  "id": "n0ghUProJYJdRkxa",
  "tags": [
    {
      "updatedAt": "2026-02-12T14:47:26.913Z",
      "createdAt": "2026-02-12T14:47:26.913Z",
      "id": "4wX1c6WFd24Rv1Im",
      "name": "Attendance"
    },
    {
      "updatedAt": "2026-02-12T15:15:24.186Z",
      "createdAt": "2026-02-12T15:15:24.186Z",
      "id": "9dgCZjKiLrLOXmGh",
      "name": "Compliance"
    },
    {
      "updatedAt": "2026-02-12T14:47:26.875Z",
      "createdAt": "2026-02-12T14:47:26.875Z",
      "id": "BDEdQGx3Ixlkm2Ch",
      "name": "Slack"
    },
    {
      "updatedAt": "2026-02-12T14:47:26.847Z",
      "createdAt": "2026-02-12T14:47:26.847Z",
      "id": "dpUX59FX4QHLkuTt",
      "name": "GoWater"
    },
    {
      "updatedAt": "2026-02-12T15:15:24.213Z",
      "createdAt": "2026-02-12T15:15:24.213Z",
      "id": "qfGPk5OVTLUrYvzl",
      "name": "Production"
    }
  ]
}
