docs/automations/n8n/attendance-slack-tracker(production).json
{
  "name": "GoWater Attendance Tracker (Production)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gowater-attendance",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "93b38dd0-1de9-4e69-bb9e-78fc74b1b452",
      "name": "Webhook Receiver",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1600,
        2768
      ],
      "webhookId": "gowater-attendance"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// HMAC-SHA256 Signature Verification\n// ============================================================\n// Ensures the webhook request actually came from GoWater\n// and wasn't spoofed by a third party.\n//\n// GoWater sends: X-Webhook-Signature: sha256=<hex>\n// We recompute the HMAC using our shared secret and compare.\n// ============================================================\n\nconst crypto = require('crypto');\n\nconst SHARED_SECRET = $vars.SHARED_SECRET;\n\nconst signature = $input.first().json.headers['x-webhook-signature'] || '';\nconst body = JSON.stringify($input.first().json.body);\n\nif (!SHARED_SECRET) {\n  // No secret configured — skip verification (dev mode)\n  return [{ json: { ...($input.first().json.body), _verified: false } }];\n}\n\nconst expected = 'sha256=' + crypto\n  .createHmac('sha256', SHARED_SECRET)\n  .update(body)\n  .digest('hex');\n\nif (signature !== expected) {\n  throw new Error('Invalid webhook signature — request rejected');\n}\n\nreturn [{ json: { ...($input.first().json.body), _verified: true } }];\n"
      },
      "id": "9c963ca1-88a3-4ccf-8379-884f268181c9",
      "name": "Verify HMAC Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        2768
      ],
      "notes": "Verifies HMAC-SHA256 signature from GoWater. Skips verification in dev mode (no secret configured). Throws error on invalid signature to halt the pipeline."
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {}
      },
      "id": "54eadc0f-7eb1-4b76-b111-e1f909c8aa2f",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1824,
        2544
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "attendance.checked_in",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5a1c15ff-8dd5-4f59-8243-cb7e96f24871"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "checked_in"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "attendance.checked_out",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d1cd9e19-14c7-4a0b-b661-f12421ba6787"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "checked_out"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "attendance.break_started",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7b84486c-5e37-4121-a515-ba3e29e5c75f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "break_started"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "attendance.break_ended",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "20cb4dd5-790d-4cef-8295-8fb1b3c85c67"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "break_ended"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "ac462bc8-da28-4674-93e1-8868e509341e",
      "name": "Route by Event",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2272,
        2768
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Format PHT Time\n// ============================================================\n// Converts timestamp to Philippines time (UTC+8) for display.\n// ============================================================\n\nconst item = $input.first().json;\nconst ts = new Date(item.timestamp);\n\nconst phtMs = ts.getTime() + (8 * 60 * 60 * 1000);\nconst pht = new Date(phtMs);\nconst hours = pht.getUTCHours();\nconst minutes = pht.getUTCMinutes();\n\nconst timeStr = `${String(hours % 12 || 12).padStart(2, '0')}:${String(minutes).padStart(2, '0')} ${hours >= 12 ? 'PM' : 'AM'}`;\n\nreturn [{\n  json: {\n    ...item,\n    _phtTime: timeStr\n  }\n}];\n"
      },
      "id": "8e785bba-80d1-4b34-b115-384dd97265d4",
      "name": "Format PHT Time",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2496,
        2544
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Format Check-In Message (Slack mrkdwn)\n// ============================================================\n\nconst item = $input.first().json;\nconst d = item.data;\nconst tasks = d.tasks || [];\n\nlet msg = `*Check In*\\n━━━━━━━━━━━━━━━━\\n\\n`;\nmsg += `*Employee:* ${d.employeeName} (${d.employeeId})\\n`;\nmsg += `*Date:* ${d.date}\\n`;\nmsg += `*Location:* ${d.workLocation}\\n`;\nmsg += `*Time:* ${item._phtTime}\\n`;\nif (d.notes) {\n  msg += `*Notes:* ${d.notes}\\n`;\n}\n\nmsg += `\\n*Planned Tasks:*\\n`;\nif (tasks.length === 0) {\n  msg += `_No tasks assigned_`;\n} else {\n  tasks.forEach((t, i) => {\n    const statusLabel = (t.status || 'pending').replace(/_/g, ' ').replace(/\\b\\w/g, c => c.toUpperCase());\n    msg += `${i + 1}. ${t.title} [${statusLabel}]\\n`;\n    const subs = t.subTasks || [];\n    subs.forEach(s => {\n      const subStatus = s.completed ? 'Done' : 'Pending';\n      msg += `    - ${s.title} [${subStatus}]\\n`;\n    });\n  });\n}\n\nif (d.photoUrl) {\n  msg += `\\n<${d.photoUrl}|Check-in Photo>`;\n}\n\nreturn [{ json: { ...item, _message: msg } }];\n"
      },
      "id": "aa8a8569-237f-488d-82a3-fba93365f10b",
      "name": "Format Check-In Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2928,
        2624
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AFMMNKXSL",
          "mode": "list",
          "cachedResultName": "attendance"
        },
        "text": "={{ $json._message }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "ae5b5173-073b-4596-902b-d8ccb0704e45",
      "name": "Slack: Check In",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        3152,
        2624
      ],
      "webhookId": "2a555223-b296-4c94-af95-900d6f7f5048",
      "credentials": {
        "slackOAuth2Api": {
          "id": "OC5FQmA1EbyUGmKH",
          "name": "Gowater Slack Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.GOWATER_API_URL }}/api/attendance/slack-thread",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $vars.GOWATER_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"userId\": {{ $('Format Check-In Message').item.json.data.userId }}, \"date\": \"{{ $('Format Check-In Message').item.json.data.date }}\", \"slackThreadTs\": \"{{ $('Slack: Check In').item.json.ts }}\" }",
        "options": {
          "timeout": 10000
        }
      },
      "id": "7d5b304b-9ee4-49aa-9cea-d035c3dc2f6c",
      "name": "Save Thread TS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3376,
        2624
      ],
      "notes": "Saves Slack message ts to attendance record so break/checkout can thread under check-in"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Check-Out: Calculate overtime & format hours\n// ============================================================\n// Philippine labor: regular = 8 hrs, OT = anything above 8.\n// ============================================================\n\nconst item = $input.first().json;\nconst totalHours = Number(item.data.totalHours) || 0;\nconst breakSec = Number(item.data.breakDuration) || 0;\nconst breakMins = Math.floor(breakSec / 60);\n\nconst REGULAR_HOURS = 8;\nconst netHours = totalHours;\nconst overtime = Math.max(0, netHours - REGULAR_HOURS);\nconst regularHrs = Math.min(netHours, REGULAR_HOURS);\nconst isUndertime = netHours < REGULAR_HOURS;\nconst undertimeHrs = isUndertime ? (REGULAR_HOURS - netHours) : 0;\n\n// Format check-out time to PHT\nconst ts = new Date(item.data.checkOutTime || item.timestamp);\nconst phtMs = ts.getTime() + (8 * 60 * 60 * 1000);\nconst pht = new Date(phtMs);\nconst hours = pht.getUTCHours();\nconst minutes = pht.getUTCMinutes();\nconst timeStr = `${String(hours % 12 || 12).padStart(2, '0')}:${String(minutes).padStart(2, '0')} ${hours >= 12 ? 'PM' : 'AM'}`;\n\nreturn [{\n  json: {\n    ...item,\n    _phtTime: timeStr,\n    _regularHrs: regularHrs.toFixed(2),\n    _overtimeHrs: overtime.toFixed(2),\n    _netHours: netHours.toFixed(2),\n    _isUndertime: isUndertime,\n    _undertimeHrs: undertimeHrs.toFixed(2),\n    _hasOvertime: overtime > 0,\n    _breakMins: breakMins\n  }\n}];\n"
      },
      "id": "0ac8a244-7311-4c73-b3a8-59efe36b7bf1",
      "name": "Calculate Hours & OT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2496,
        2768
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Format Check-Out Message (Slack mrkdwn)\n// ============================================================\n\nconst item = $input.first().json;\nconst d = item.data;\nconst tasks = d.tasks || [];\n\nlet msg = `*Check Out*\\n━━━━━━━━━━━━━━━━\\n\\n`;\nmsg += `*Employee:* ${d.employeeName} (${d.employeeId})\\n`;\nmsg += `*Date:* ${d.date}\\n`;\nmsg += `*Check Out:* ${item._phtTime}\\n`;\nmsg += `*Net Hours:* ${item._netHours}h | Regular: ${item._regularHrs}h`;\nif (item._hasOvertime) {\n  msg += ` | OT: ${item._overtimeHrs}h`;\n}\nmsg += `\\n`;\nif (item._isUndertime) {\n  msg += `*Undertime:* ${item._undertimeHrs}h\\n`;\n}\nmsg += `*Break:* ${item._breakMins} min\\n`;\n\nmsg += `\\n*Task Updates:*\\n`;\nif (tasks.length === 0) {\n  msg += `_No tasks assigned_`;\n} else {\n  tasks.forEach((t, i) => {\n    const statusLabel = (t.status || 'pending').replace(/_/g, ' ').replace(/\\b\\w/g, c => c.toUpperCase());\n    msg += `${i + 1}. ${t.title} [${statusLabel}]\\n`;\n    const subs = t.subTasks || [];\n    subs.forEach(s => {\n      const subStatus = s.completed ? 'Done' : 'Pending';\n      msg += `    - ${s.title} [${subStatus}]\\n`;\n    });\n  });\n}\n\nif (d.photoUrl) {\n  msg += `\\n<${d.photoUrl}|Check-out Photo>`;\n}\n\nreturn [{ json: { ...item, _message: msg } }];\n"
      },
      "id": "cd7cea25-aa3b-404a-8410-8baceaa86ef7",
      "name": "Format Check-Out Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2720,
        2768
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AFMMNKXSL",
          "mode": "list",
          "cachedResultName": "attendance"
        },
        "text": "={{ $json._message }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "threadTs": "={{ $json.data.slackThreadTs || '' }}"
        }
      },
      "id": "5b514f92-447c-478f-a19f-ca1419b8988d",
      "name": "Slack: Check Out",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2928,
        2768
      ],
      "webhookId": "8038a38a-47db-4463-938b-46fd80337736",
      "credentials": {
        "slackOAuth2Api": {
          "id": "OC5FQmA1EbyUGmKH",
          "name": "Gowater Slack Bot"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AFMMNKXSL",
          "mode": "list",
          "cachedResultName": "attendance"
        },
        "text": "=*Break Started*\n\n*Employee:* {{ $json.data.employeeName }} ({{ $json.data.employeeId }})\n*Date:* {{ $json.data.date }}\n*Break Start:* {{ new Date(new Date($json.data.breakStartTime || $json.timestamp).getTime() + (8*60*60*1000)).toISOString().substring(11,16) }} PHT",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "threadTs": "={{ $json.data.slackThreadTs || '' }}"
        }
      },
      "id": "b6859999-56d3-43cd-89ec-79406941b096",
      "name": "Slack: Break Start",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2496,
        2944
      ],
      "webhookId": "ba1113df-31c2-455b-aa3e-36a67be33677",
      "credentials": {
        "slackOAuth2Api": {
          "id": "OC5FQmA1EbyUGmKH",
          "name": "Gowater Slack Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Break Compliance: Over-Break Detection\n// ============================================================\n// Flags breaks longer than 2 hours for manager review.\n// ============================================================\n\nconst item = $input.first().json;\nconst breakSec = Number(item.data.breakDurationSeconds) || 0;\nconst breakMin = Math.floor(breakSec / 60);\nconst totalBreakMin = Math.floor((Number(item.data.totalBreakDuration) || 0) / 60);\n\nconst LONG_BREAK_THRESHOLD = 120;  // minutes\n\nlet complianceFlag = 'ok';\nlet complianceMsg = '';\n\nif (breakMin > LONG_BREAK_THRESHOLD) {\n  complianceFlag = 'long_break';\n  complianceMsg = `Extended break of ${breakMin} min — needs manager review`;\n}\n\nreturn [{\n  json: {\n    ...item,\n    _breakMin: breakMin,\n    _totalBreakMin: totalBreakMin,\n    _complianceFlag: complianceFlag,\n    _complianceMsg: complianceMsg\n  }\n}];\n"
      },
      "id": "1086ca18-003a-4752-9187-8bf96584facd",
      "name": "Check Break Compliance",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2496,
        3120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json._complianceFlag }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "20ced571-4aa0-4e7e-8c7e-4831915c9ea2",
      "name": "Compliance Issue?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2720,
        3120
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AFMMNKXSL",
          "mode": "list",
          "cachedResultName": "attendance"
        },
        "text": "=*Break Compliance Alert*\n\n*Employee:* {{ $json.data.employeeName }} ({{ $json.data.employeeId }})\n*Date:* {{ $json.data.date }}\n*Break Duration:* {{ $json._breakMin }} min\n*Issue:* {{ $json._complianceMsg }}\n*Total Break Today:* {{ $json._totalBreakMin }} min",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "threadTs": "={{ $json.data.slackThreadTs || '' }}"
        }
      },
      "id": "e252d995-75d6-4898-a90f-0ebdc43aec20",
      "name": "Slack: Compliance Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2928,
        3072
      ],
      "webhookId": "dd12d5be-cb46-48de-9c8e-20ead00469de",
      "credentials": {
        "slackOAuth2Api": {
          "id": "OC5FQmA1EbyUGmKH",
          "name": "Gowater Slack Bot"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AFMMNKXSL",
          "mode": "list",
          "cachedResultName": "attendance"
        },
        "text": "=*Break Ended*\n\n*Employee:* {{ $json.data.employeeName }} ({{ $json.data.employeeId }})\n*Date:* {{ $json.data.date }}\n*Break Duration:* {{ $json._breakMin }} min\n*Total Break Today:* {{ $json._totalBreakMin }} min{{ $json._complianceFlag !== 'ok' ? '\\n' + $json._complianceMsg : '' }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "threadTs": "={{ $json.data.slackThreadTs || '' }}"
        }
      },
      "id": "9b74bca6-b1fa-4c07-bf32-e09d6f284d80",
      "name": "Slack: Break End",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2944,
        3232
      ],
      "webhookId": "e2f69bf3-ef39-4048-a6a0-675928728836",
      "credentials": {
        "slackOAuth2Api": {
          "id": "OC5FQmA1EbyUGmKH",
          "name": "Gowater Slack Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "REPLACE_WITH_YOUR_GOOGLE_SHEET_URL"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Attendance Log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $json.data.date }}",
            "employee_id": "={{ $json.data.employeeId }}",
            "employee_name": "={{ $json.data.employeeName }}",
            "event": "={{ $json.event }}",
            "time": "={{ $json.timestamp }}",
            "location": "={{ $json.data.workLocation || '' }}",
            "total_hours": "={{ $json.data.totalHours || '' }}",
            "break_minutes": "={{ $json._breakMin || $json._totalBreakMin || '' }}",
            "overtime_hours": "={{ $json._overtimeHrs || '' }}",
            "flags": "={{ $json._complianceFlag && $json._complianceFlag !== 'ok' ? 'OVERBREAK' : '' }}{{ $json._isUndertime ? ' UNDERTIME(' + $json._undertimeHrs + 'h)' : '' }}"
          }
        },
        "options": {}
      },
      "id": "07abbf5d-6e2b-424b-b8b5-f2b2d212e629",
      "name": "Google Sheets: Audit Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2272,
        2992
      ],
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "id": "fb27ce60-a82f-48a6-90d3-1b87a8fbd62a",
      "name": "Daily 6 PM PHT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1600,
        3408
      ]
    },
    {
      "parameters": {
        "url": "={{ $vars.GOWATER_API_URL }}/api/attendance/daily-summary",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $vars.GOWATER_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "0b26978a-21fb-487b-a952-dc5b04a78dcd",
      "name": "Fetch Daily Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1824,
        3408
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Daily Summary Report Builder\n// ============================================================\n// Aggregates the day's attendance data into a formatted Slack\n// message with key metrics, flags, and employee status.\n// Outputs TWO items:\n//   [0] = full daily report for #attendance\n//   [1] = absent employee list for #absent\n// ============================================================\n\nconst data = $input.first().json;\nconst employees = data.employees || [];\nconst date = data.date || new Date().toISOString().split('T')[0];\n\nconst total = employees.length;\nconst checkedIn = employees.filter(e => e.checked_in).length;\nconst checkedOut = employees.filter(e => e.checked_out).length;\nconst stillWorking = employees.filter(e => e.checked_in && !e.checked_out).length;\nconst onBreak = employees.filter(e => e.on_break).length;\nconst absent = employees.filter(e => !e.checked_in).length;\nconst lateArrivals = employees.filter(e => e.is_late);\nconst overtimeWorkers = employees.filter(e => Number(e.overtime_hours) > 0);\nconst undertimeWorkers = employees.filter(e => e.checked_out && Number(e.net_hours) < 8);\nconst breakViolations = employees.filter(e => e.break_violation);\n\nlet report = `*Daily Attendance Report — ${date}*\\n`;\nreport += `━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n\\n`;\n\nreport += `*Team Status*\\n`;\nreport += `Total: ${total} | Checked In: ${checkedIn} | Checked Out: ${checkedOut}\\n`;\nreport += `Still Working: ${stillWorking} | On Break: ${onBreak} | Absent: ${absent}\\n\\n`;\n\nif (lateArrivals.length > 0) {\n  report += `*Late Arrivals (${lateArrivals.length})*\\n`;\n  lateArrivals.forEach(e => {\n    report += `  - ${e.name}: ${e.minutes_late} min late\\n`;\n  });\n  report += `\\n`;\n}\n\nif (overtimeWorkers.length > 0) {\n  report += `*Overtime (${overtimeWorkers.length})*\\n`;\n  overtimeWorkers.forEach(e => {\n    report += `  - ${e.name}: +${Number(e.overtime_hours).toFixed(1)}h OT\\n`;\n  });\n  report += `\\n`;\n}\n\nif (undertimeWorkers.length > 0) {\n  report += `*Undertime (${undertimeWorkers.length})*\\n`;\n  undertimeWorkers.forEach(e => {\n    report += `  - ${e.name}: ${Number(e.net_hours).toFixed(1)}h (${(8 - Number(e.net_hours)).toFixed(1)}h short)\\n`;\n  });\n  report += `\\n`;\n}\n\nif (breakViolations.length > 0) {\n  report += `*Break Compliance Issues (${breakViolations.length})*\\n`;\n  breakViolations.forEach(e => {\n    report += `  - ${e.name}: ${e.break_issue}\\n`;\n  });\n  report += `\\n`;\n}\n\nif (absent > 0) {\n  const absentList = employees.filter(e => !e.checked_in);\n  report += `*Absent (${absent})*\\n`;\n  absentList.forEach(e => {\n    report += `  - ${e.name}${e.on_leave ? ' (on leave)' : ''}\\n`;\n  });\n}\n\n// Build absent list for #absent channel\nconst absentEmployees = employees.filter(e => !e.checked_in);\nlet absentReport = `*Absent Employees — ${date}*\\n`;\nabsentReport += `━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n\\n`;\nif (absentEmployees.length === 0) {\n  absentReport += `All employees checked in today.`;\n} else {\n  absentReport += `*${absentEmployees.length} employee(s) did not check in:*\\n\\n`;\n  absentEmployees.forEach((e, i) => {\n    absentReport += `${i + 1}. ${e.name}${e.on_leave ? ' (on leave)' : ''}\\n`;\n  });\n}\n\nreturn [\n  { json: { report, date, _outputType: 'daily_report' } },\n  { json: { report: absentReport, date, _outputType: 'absent_list' } }\n];\n"
      },
      "id": "b3d9715a-0ba8-4de9-85bf-3207e9d2d19e",
      "name": "Build Daily Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2048,
        3408
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._outputType }}",
                    "rightValue": "daily_report",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "daily_report"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._outputType }}",
                    "rightValue": "absent_list",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "absent_list"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "93d7a10f-e268-4687-a6e1-0b63513661a2",
      "name": "Route Daily Output",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2272,
        3408
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AFMMNKXSL",
          "mode": "list",
          "cachedResultName": "attendance"
        },
        "text": "={{ $json.report }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "791d7434-bdf0-4fd8-a291-d7f19d94802a",
      "name": "Slack: Daily Summary",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2496,
        3312
      ],
      "webhookId": "aec52e5a-6593-4dd4-b5e4-5158060ced2a",
      "credentials": {
        "slackOAuth2Api": {
          "id": "OC5FQmA1EbyUGmKH",
          "name": "Gowater Slack Bot"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "REPLACE_WITH_ABSENT_CHANNEL_ID",
          "mode": "list",
          "cachedResultName": "absent"
        },
        "text": "={{ $json.report }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "86ad54d9-3ff4-455b-95f9-45c9adea29f0",
      "name": "Slack: Absent List",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2496,
        3504
      ],
      "webhookId": "9b183893-d618-4e33-bd5f-60a3a13783c9",
      "credentials": {
        "slackOAuth2Api": {
          "id": "OC5FQmA1EbyUGmKH",
          "name": "Gowater Slack Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "REPLACE_WITH_YOUR_GOOGLE_SHEET_URL"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Daily Summaries"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $json.date }}",
            "report": "={{ $json.report }}"
          }
        },
        "options": {}
      },
      "id": "999a9f6d-e701-4bf3-8045-5bb8282637a9",
      "name": "Google Sheets: Daily Summary",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2496,
        3696
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.event }}",
              "rightValue": "attendance.",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "93d1aad9-daad-4899-a438-048c3605f1aa",
      "name": "Valid Attendance Event?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2048,
        2768
      ],
      "notes": "Rejects non-attendance events early to prevent unexpected data in the pipeline"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "2bd254bb-de35-4b99-bddd-8da5b644e2f9",
      "name": "Daily 8 AM PHT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1600,
        3632
      ],
      "notes": "Fires at 00:00 UTC = 8:00 AM PHT to post daily divider"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Format Daily Divider Date\n// ============================================================\n// Generates a date string in PHT (UTC+8) for the daily divider.\n// Uses manual UTC+8 offset (toLocaleString is unreliable on Vercel/n8n).\n// ============================================================\n\nconst now = new Date();\nconst phtMs = now.getTime() + (8 * 60 * 60 * 1000);\nconst pht = new Date(phtMs);\n\nconst days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];\nconst months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];\n\nconst dayName = days[pht.getUTCDay()];\nconst month = months[pht.getUTCMonth()];\nconst date = pht.getUTCDate();\nconst year = pht.getUTCFullYear();\n\nconst dividerText = `${month} ${date}, ${year} (${dayName})`;\n\nreturn [{ json: { dividerText } }];\n"
      },
      "id": "c4aff8f7-d69a-41e2-9ba1-0a78ed7b4e53",
      "name": "Format Divider Date",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        3632
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AFMMNKXSL",
          "mode": "list",
          "cachedResultName": "attendance"
        },
        "text": "=══════ {{ $json.dividerText }} ══════",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "2c510b3a-69cf-43f1-972d-a6e8bcc09d58",
      "name": "Slack: Daily Divider",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2048,
        3632
      ],
      "webhookId": "2b911faa-ee5c-4cee-a6a7-c4357f5bf5e1",
      "credentials": {
        "slackOAuth2Api": {
          "id": "OC5FQmA1EbyUGmKH",
          "name": "Gowater Slack Bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Receiver": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          },
          {
            "node": "Verify HMAC Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify HMAC Signature": {
      "main": [
        [
          {
            "node": "Valid Attendance Event?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid Attendance Event?": {
      "main": [
        [
          {
            "node": "Route by Event",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets: Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Event": {
      "main": [
        [
          {
            "node": "Format PHT Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Calculate Hours & OT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack: Break Start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Break Compliance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format PHT Time": {
      "main": [
        [
          {
            "node": "Format Check-In Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Check-In Message": {
      "main": [
        [
          {
            "node": "Slack: Check In",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack: Check In": {
      "main": [
        [
          {
            "node": "Save Thread TS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Hours & OT": {
      "main": [
        [
          {
            "node": "Format Check-Out Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Check-Out Message": {
      "main": [
        [
          {
            "node": "Slack: Check Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Break Compliance": {
      "main": [
        [
          {
            "node": "Compliance Issue?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack: Break End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compliance Issue?": {
      "main": [
        [
          {
            "node": "Slack: Compliance Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily 6 PM PHT": {
      "main": [
        [
          {
            "node": "Fetch Daily Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Daily Summary": {
      "main": [
        [
          {
            "node": "Build Daily Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Daily Report": {
      "main": [
        [
          {
            "node": "Route Daily Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily 8 AM PHT": {
      "main": [
        [
          {
            "node": "Format Divider Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Divider Date": {
      "main": [
        [
          {
            "node": "Slack: Daily Divider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Daily Output": {
      "main": [
        [
          {
            "node": "Slack: Daily Summary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets: Daily Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack: Absent List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "76ea178d-82dc-4117-bdac-de7b0d14d651",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6fb87aa61d7b2b62fa4cc6d7122005aee62aa14cfcc0caa3ed46f1e4c0a04bb8"
  },
  "id": "n0ghUProJYJdRkxa",
  "tags": [
    {
      "updatedAt": "2026-02-12T14:47:26.913Z",
      "createdAt": "2026-02-12T14:47:26.913Z",
      "id": "4wX1c6WFd24Rv1Im",
      "name": "Attendance"
    },
    {
      "updatedAt": "2026-02-12T15:15:24.186Z",
      "createdAt": "2026-02-12T15:15:24.186Z",
      "id": "9dgCZjKiLrLOXmGh",
      "name": "Compliance"
    },
    {
      "updatedAt": "2026-02-12T14:47:26.875Z",
      "createdAt": "2026-02-12T14:47:26.875Z",
      "id": "BDEdQGx3Ixlkm2Ch",
      "name": "Slack"
    },
    {
      "updatedAt": "2026-02-12T14:47:26.847Z",
      "createdAt": "2026-02-12T14:47:26.847Z",
      "id": "dpUX59FX4QHLkuTt",
      "name": "GoWater"
    },
    {
      "updatedAt": "2026-02-12T15:15:24.213Z",
      "createdAt": "2026-02-12T15:15:24.213Z",
      "id": "qfGPk5OVTLUrYvzl",
      "name": "Production"
    }
  ]
}